# The initial approach 
As a start I will use simple heuristics to analyse the population and how different groups are responding to different offers. 

We already started slightly looking at different data distributions etc. in the exploratory analysis. However, here I will go a bit more into the behaviour of different groups. 

In the matrices I built, we have data about the user behaviour. We cannot determine if the user will respond to a specific offer with those data alone. However, we can look into if an offer in general increases spending. And which groups respond best overall. 

To take away the effect of duration of offers, I will use the time values to normalise the spending data. 

We'll start by investigating if gender by itself may influence the response to offers, followed by splitting data into age groups. Later we'll combine the user data and the offer data to look at which groups are responding best to the different offers, and if there are groups that are not really affected by any offers.

In [1]:
import pandas as pd
import numpy as np

In [2]:
offers = pd.read_pickle('offer_df.pkl')
users = pd.read_pickle('profile_expanded.pkl')

In [3]:
offers.head(2)

,offer_id,user_id,offer_type,difficulty,reward,start_time,duration,end_time,viewed,view_time,completed,complet_time,time_in_window,amount_in_window,type_bogo,type_discount,type_informational
0,2906b810c7d4411798c6938adc9daaa5,68be06ca386d4c31939f3a4f0e3dd783,discount,10,2,168,168,336,1,216.0,0,NaN,121,0.00,0,1,0
1,0b1e1539f2cc45b7b9fa7c272da2e1d7,68be06ca386d4c31939f3a4f0e3dd783,discount,20,5,336,240,576,1,348.0,0,NaN,229,10.52,0,1,0

In [4]:
users.head(2)

,age,became_member_on,gender,income,user_id,spent_total,spent_in_window,spent_no_window,spent_in_discount,spent_in_bogo,...,time_in_bogo,time_in_informational,view_ratio,completion_ratio,view_and_complete_ratio,num_offers_received,gender_F,gender_M,gender_O,gender_nan
0,33,2017-04-21,M,72000.0,0009655768c64bdeb2e877511632db8f,127.60,30.73,96.87,0.0,0.0,...,0.0,108.0,0.4,0.6,0.0,5,0,1,0,0
1,118,2018-04-25,None,NaN,00116118485d4dfda04fdbaba9a87b5c,4.09,0.00,4.09,0.0,0.0,...,138.0,0.0,1.0,0.0,0.0,2,0,0,0,1

From the users dataframe we have more columns than what is useful to use in an analysis. The below subset is considered to be useful to answer questions about the users.

In [5]:
times = ['time_in_window', 'time_no_window', 'time_in_discount', 'time_in_bogo', 'time_in_informational']
users.loc[:,times]  = np.array(users.loc[:,times]) +1 
users = users.drop(index=users.loc[users['time_no_window']<0,'user_id'].index)
users.columns

Index(['age', 'became_member_on', 'gender', 'income', 'user_id', 'spent_total',
       'spent_in_window', 'spent_no_window', 'spent_in_discount',
       'spent_in_bogo', 'spent_in_informational', 'time_in_window',
       'time_no_window', 'time_in_discount', 'time_in_bogo',
       'time_in_informational', 'view_ratio', 'completion_ratio',
       'view_and_complete_ratio', 'num_offers_received', 'gender_F',
       'gender_M', 'gender_O', 'gender_nan'],
      dtype='object')

In [6]:
subset = ['gender', 'age', 'income', 'spent_total', 'spent_in_window', 'spent_no_window', 'spent_in_discount',
       'spent_in_bogo', 'spent_in_informational', 'time_in_window',
       'time_no_window', 'time_in_discount', 'time_in_bogo',
       'time_in_informational', 'view_ratio', 'completion_ratio', 'view_and_complete_ratio']

In [7]:
users_sub = users.loc[:,subset]
users_sub.loc[users_sub['gender'].isna(),'gender'] ='N'
users_sub.head(3)

,gender,age,income,spent_total,spent_in_window,spent_no_window,spent_in_discount,spent_in_bogo,spent_in_informational,time_in_window,time_no_window,time_in_discount,time_in_bogo,time_in_informational,view_ratio,completion_ratio,view_and_complete_ratio
0,M,33,72000.0,127.60,30.73,96.87,0.00,0.00,30.73,109.0,607.0,1.0,1.0,109.0,0.4,0.6,0.0
1,N,118,NaN,4.09,0.00,4.09,0.00,0.00,0.00,139.0,577.0,1.0,139.0,1.0,1.0,0.0,0.0
2,O,40,57000.0,79.46,33.98,45.48,33.98,22.05,0.00,355.0,361.0,211.0,61.0,145.0,1.0,0.6,0.6

In [8]:
users_sub.describe()

,age,income,spent_total,spent_in_window,spent_no_window,spent_in_discount,spent_in_bogo,spent_in_informational,time_in_window,time_no_window,time_in_discount,time_in_bogo,time_in_informational,view_ratio,completion_ratio,view_and_complete_ratio
count,16884.000000,14816.000000,16884.000000,16884.000000,16884.000000,16884.000000,16884.000000,16884.000000,16884.00000,16884.00000,16884.000000,16884.000000,16884.000000,16884.000000,16884.000000,16884.000000
mean,62.182007,65395.653348,105.136487,40.113361,65.023127,17.262521,17.869157,7.917868,228.34968,487.65032,104.982232,102.081734,35.178038,0.692291,0.443393,0.314992
std,26.460707,21598.750417,126.069911,59.780557,98.590737,40.037113,41.252933,26.202186,152.35947,152.35947,125.000428,103.014948,47.880489,0.252257,0.338742,0.282120
min,18.000000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.00000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,45.000000,49000.000000,22.300000,10.940000,7.010000,0.000000,0.000000,0.000000,109.00000,391.00000,1.000000,7.000000,1.000000,0.500000,0.166667,0.000000
50%,58.000000,64000.000000,70.285000,26.800000,32.335000,9.205000,9.880000,0.000000,205.00000,511.00000,55.000000,85.000000,1.000000,0.750000,0.500000,0.250000
75%,73.000000,80000.000000,149.465000,53.352500,93.252500,23.380000,24.460000,3.492500,325.00000,607.00000,169.000000,157.000000,67.000000,1.000000,0.750000,0.500000
max,118.000000,120000.000000,1608.690000,1073.510000,1344.930000,1307.200000,1136.810000,777.470000,715.00000,715.00000,709.000000,637.000000,355.000000,1.000000,1.000000,1.000000

In [9]:
users.loc[users['time_no_window']<0,'user_id']

Series([], Name: user_id, dtype: object)

From the above summary we can observe a couple of important things. First of all, the min and max values gives indications of obvious outliers or erronous data. However, it look reasonable for most at least. 

Secondly we can observe that the mean and median are very different in some of the parameters.

In [10]:
idx = pd.IndexSlice
users_sub.groupby(['gender']).describe().transpose().loc[idx[:,idx['mean', '50%']],:]

gender                                   F             M           N  \
age                     mean     57.545455     52.110770  118.000000
                        50%      58.000000     53.000000  118.000000
income                  mean  71301.452587  61179.780583         NaN
                        50%   71000.000000  59000.000000         NaN
spent_total             mean    140.959832     99.667275   19.452384
                        50%     116.570000     63.140000   15.715000
spent_in_window         mean     50.682853     38.670381   13.740397
                        50%      38.610000     26.420000   10.125000
spent_no_window         mean     90.276979     60.996894    5.711987
                        50%      68.020000     27.240000    3.745000
spent_in_discount       mean     21.338598     16.470540    7.872297
                        50%      13.630000      8.890000    3.745000
spent_in_bogo           mean     22.253065     17.448558    6.621098
                        50%      15.020000     10.170000    3.180000
spent_in_informational  mean     10.334808      7.560559    1.704879
                        50%       0.000000      0.000000    0.000000
time_in_window          mean    184.700669    226.990563  364.545455
                        50%     157.000000    211.000000  367.000000
time_no_window          mean    531.299331    489.009437  351.454545
                        50%     559.000000    505.000000  349.000000
time_in_discount        mean     80.533540    101.374189  192.677950
                        50%      37.000000     55.000000  169.000000
time_in_bogo            mean     79.238942    104.109827  163.397485
                        50%      49.000000     91.000000  151.000000
time_in_informational   mean     34.591970     34.291259   39.541586
                        50%       1.000000      1.000000    1.000000
view_ratio              mean      0.671805      0.682340    0.784953
                        50%       0.666667      0.666667    0.800000
completion_ratio        mean      0.563587      0.432077    0.122840
                        50%       0.600000      0.400000    0.000000
view_and_complete_ratio mean      0.387895      0.310550    0.104908
                        50%       0.400000      0.250000    0.000000

gender                                   O
age                     mean     54.400943
                        50%      55.000000
income                  mean  63287.735849
                        50%   62000.000000
spent_total             mean    124.323302
                        50%      93.440000
spent_in_window         mean     49.604623
                        50%      33.685000
spent_no_window         mean     74.718679
                        50%      50.150000
spent_in_discount       mean     22.727075
                        50%      14.185000
spent_in_bogo           mean     17.709670
                        50%      13.115000
spent_in_informational  mean     12.959245
                        50%       0.000000
time_in_window          mean    215.641509
                        50%     196.000000
time_no_window          mean    500.358491
                        50%     520.000000
time_in_discount        mean    100.396226
                        50%      43.000000
time_in_bogo            mean     83.047170
                        50%      49.000000
time_in_informational   mean     45.009434
                        50%      16.000000
view_ratio              mean      0.778302
                        50%       0.800000
completion_ratio        mean      0.549057
                        50%       0.600000
view_and_complete_ratio mean      0.434984
                        50%       0.450000

In the above table we see the mean and the median (50%) for all the users split by gender. N is unknown gender and O is other. One thing to note about the mean and median; If the mean and median is significantly different, it means that a few users are having quite extreme values, driving the mean to change from the mean. 

In the above summary we can see that for all of the spending parameters, the median is significantly lower than the mean. Thus, there are a solid minority doing some serious spending compared to the middle spender. The same is true for the time_in_window which describes the total time a user spend after viewing an offer. 

However, lets drill a bit further. The spending amount is not that interesting as it is now by itself. Every user receives different types of offers, some offers are more common and have longer duration etc. which affect the time the user has to spend their money inside a specific offer. Thus, I will normalise the spendings by dividing by the respective time in window.

In [11]:
users['spent_in_window_norm'] = users.loc[:,'spent_in_window']/users['time_in_window']
users['spent_no_window_norm'] = users.loc[:,'spent_no_window']/users['time_no_window']
users['spent_in_discount_norm'] = users.loc[:,'spent_in_discount']/users['time_in_discount']
users['spent_in_bogo_norm'] = users.loc[:,'spent_in_bogo']/users['time_in_bogo']
users['spent_in_informational_norm'] = users.loc[:,'spent_in_informational']/users['time_in_informational']
users

,age,became_member_on,gender,income,user_id,spent_total,spent_in_window,spent_no_window,spent_in_discount,spent_in_bogo,...,num_offers_received,gender_F,gender_M,gender_O,gender_nan,spent_in_window_norm,spent_no_window_norm,spent_in_discount_norm,spent_in_bogo_norm,spent_in_informational_norm
0,33,2017-04-21,M,72000.0,0009655768c64bdeb2e877511632db8f,127.60,30.73,96.87,0.00,0.00,...,5,0,1,0,0,0.281927,0.159588,0.000000,0.000000,0.281927
1,118,2018-04-25,None,NaN,00116118485d4dfda04fdbaba9a87b5c,4.09,0.00,4.09,0.00,0.00,...,2,0,0,0,1,0.000000,0.007088,0.000000,0.000000,0.000000
2,40,2018-01-09,O,57000.0,0011e0d4e6b944f998e987f904e8c1e5,79.46,33.98,45.48,33.98,22.05,...,5,0,0,1,0,0.095718,0.125983,0.161043,0.361475,0.000000
3,59,2016-03-04,F,90000.0,0020c2b971eb4e9188eac86d93036a77,196.86,34.87,161.99,17.63,17.24,...,5,1,0,0,0,0.274567,0.275025,0.410000,0.202824,0.000000
4,24,2016-11-11,F,60000.0,0020ccbbb6d84e358d3414a3ff76cffd,154.05,95.37,58.68,11.65,24.85,...,4,1,0,0,0,0.544971,0.108466,0.211818,0.507143,0.806438
5,26,2017-06-21,F,73000.0,003d66b6608740288d6cc97a6903f4f0,48.34,30.92,17.42,22.47,0.00,...,5,1,0,0,0,0.128299,0.036674,0.132959,0.000000,0.129794
6,19,2016-08-09,F,65000.0,00426fe3ffde4c6b9cb9ad6d077a13ea,68.51,49.26,19.25,23.34,0.00,...,5,1,0,0,0,0.451927,0.031713,0.319726,0.000000,0.700541
7,55,2018-05-08,F,74000.0,004b041fbfe44859945daa2c7f79ee64,138.36,47.85,90.51,19.93,27.92,...,3,1,0,0,0,0.293558,0.163671,0.143381,1.116800,0.000000
8,54,2016-03-31,M,99000.0,004c5799adbf42868b9cff0396190900,347.38,101.94,245.44,43.21,58.73,...,5,0,1,0,0,0.886435,0.408386,0.881837,0.876567,0.000000
9,56,2017-12-09,M,47000.0,005500a7188546ff8a767329a2f7c76a,20.36,20.36,0.00,0.00,20.36,...,5,0,1,0,0,0.047681,0.000000,0.000000,0.047681,0.000000
10,54,2016-08-21,M,91000.0,0056df74b63b4298809f0b375a304cf4,144.14,86.66,57.48,0.00,27.86,...,4,0,1,0,0,0.478785,0.107439,0.000000,0.255596,0.805479
11,118,2018-06-15,None,NaN,0063def0f9c14bc4805322a488839b32,7.21,4.45,2.76,2.39,2.06,...,5,0,0,0,1,0.007120,0.030330,0.005931,0.006581,0.000000
12,118,2016-05-03,None,NaN,0069a50874d846438e58acff5e594725,33.50,5.12,28.38,5.12,0.00,...,4,0,0,0,1,0.042314,0.047697,0.042314,0.000000,0.000000
13,58,2017-12-07,F,119000.0,00715b6e55c3431cb56ff7307eb19675,375.12,0.00,375.12,0.00,0.00,...,6,1,0,0,0,0.000000,0.524643,0.000000,0.000000,0.000000
14,28,2017-09-08,F,68000.0,0082fd87c18f45f2be70dbcbb0fb8aad,121.85,59.33,62.52,0.00,19.24,...,5,1,0,0,0,0.351065,0.114296,0.000000,1.012632,0.265497
15,26,2014-12-21,M,61000.0,00840a2ca5d2408e982d56544dc14ffd,62.93,21.43,41.50,21.43,0.00,...,6,0,1,0,0,0.293562,0.064541,0.293562,0.000000,0.000000
16,71,2017-10-23,M,41000.0,00857b24b13f4fe0ad17b605f00357f5,6.26,6.26,0.00,0.00,6.26,...,5,0,1,0,0,0.016783,0.000000,0.000000,0.016783,0.000000
17,24,2017-09-10,M,42000.0,008d7088107b468893889da0ede0df5c,16.18,10.82,5.36,0.00,10.82,...,6,0,1,0,0,0.030479,0.014848,0.000000,0.033918,0.000000
18,62,2016-06-17,F,81000.0,0091d2b6a5ea4defaa8393e4e816db60,279.16,115.44,163.72,27.03,88.41,...,5,1,0,0,0,0.580101,0.316673,0.551633,0.585497,0.000000
19,118,2018-05-02,None,NaN,0092a132ead946ceb30d11a1ed513d20,2.54,2.54,0.00,0.48,2.06,...,6,0,0,0,1,0.003878,0.000000,0.001450,0.004893,0.018082
20,61,2018-02-14,M,66000.0,0099bf30e4cb4265875266eb3eb25eab,105.83,24.95,80.88,29.04,13.66,...,5,0,1,0,0,0.054595,0.312278,0.072060,0.125321,0.000000
21,118,2018-06-27,None,NaN,009d10c2c38a4fd795a7bc6ddbbddb78,11.78,3.30,8.48,3.30,2.51,...,5,0,0,0,1,0.006694,0.038027,0.007036,0.020744,0.000000
22,88,2015-10-24,F,54000.0,00a794f62b9a48beb58f8f6c02c2f1a6,166.40,124.39,42.01,0.00,17.23,...,5,1,0,0,0,0.362653,0.112627,0.000000,0.142397,0.469378
23,118,2016-08-18,None,NaN,00ad4c2cace94f67a6354ec90d6c6f45,20.73,18.41,2.32,5.02,10.64,...,5,0,0,0,1,0.046373,0.007273,0.034621,0.070464,0.023913
24,55,2015-11-15,M,83000.0,00ae03011f9f49b8a4b3e6d416678b0b,218.05,46.37,171.68,46.37,30.83,...,6,0,1,0,0,0.151042,0.419756,0.207937,0.362706,0.000000
25,21,2018-01-06,M,59000.0,00aee28bbb3848dd8a31f0c91dc267dd,20.53,0.00,20.53,0.00,0.00,...,3,0,1,0,0,0.000000,0.044341,0.000000,0.000000,0.000000
26,72,2017-04-07,M,102000.0,00b18b535d6d4f779dea4dc9ac451478,133.25,74.98,58.27,74.98,0.00,...,5,0,1,0,0,0.186055,0.186166,0.226526,0.000000,0.000000
27,62,2016-08-25,M,80000.0,00b3400e4ff64ee68ce9ada1d0c222f0,163.92,46.16,117.76,22.28,0.00,...,5,0,1,0,0,0.584304,0.184867,1.713846,0.000000,0.356418
28,50,2017-06-27,M,104000.0,00b3c376db2a4115af3aef34a02f61d6,219.63,19.44,200.19,0.00,19.44,...,3,0,1,0,0,0.396735,0.300135,0.000000,0.396735,0.000000
29,118,2018-01-27,None,NaN,00b5fb9d842d437e83033ad9e36f7148,7.74,3.89,3.85,3.89,0.00,...,3,0,0,0,1,0.008984,0.013604,0.011543,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16881,79,2017-05-20,M,93000.0,ff95e0a9cdfd4030958762dadcb11e1a,60.23,0.00,60.23,0.00,0.00,...,5,0,1,0,0,0.000000,0.106602,0.000000,0.000000,0.000000
16882,118,2016-12-03,None,NaN,ff964fce42a74d519bd1ad2e0e20cd9e,31.33,30.04,1.29,10.09,31.73,...,4,0,0,0,1,0.103945,0.003021,0.138219,0.109792,0.000000
16883,68,2017-11-02,M,51000.0,ff992fbec53145bbae59a68d025e0458,73.91,54.56,19.35,31.25,28.03,...,6,0,1,0,0,0.120976,0.073019,0.115314,0.154862,0.000000
16884,41,2017-12-07,F,53000.0,ff9beda564da4bab81633fca744037dc,77.19,29.40,47.79,13.21,13.21,...,5,1,0,0,0,0.157219,0.090340,0.695263,0.095036,0.330408
16885,43,2015-07-31,F,67000.0,ff9f73ead16a4f9b9e1a53a27280af92,263.30,31.22,232.08,13.70,17.52,...,4,1,0,0,0,0.567636,0.351104,1.053846,0.407442,0.000000
16886,76,2016-09-06,M,115000.0,ffa81afacde642a3a51a7cd99f8d2cd7,275.36,32.90,242.46,0.00,32.90,...,5,0,1,0,0,1.731579,0.347862,0.000000,1.731579,0.000000
16887,28,2017-10-22,M,36000.0,ffac285a64714aca8efd8d61a5606e84,9.63,1.86,7.77,0.00,1.86,...,3,0,1,0,0,0.019175,0.012553,0.000000,0.019175,0.000000
16888,50,2017-08-30,M,86000.0,ffaecba5bbb14cffb04c2490d18eee7e,174.33,76.02,98.31,87.00,17.94,...,6,0,1,0,0,0.323489,0.204387,0.600000,0.417209,0.258791
16889,94,2014-08-23,F,75000.0,ffb62bee02c14583b9763f8613bcace7,22.20,7.85,14.35,0.00,0.64,...,5,1,0,0,0,0.059023,0.024614,0.000000,0.013061,0.084824
16890,57,2015-09-02,F,118000.0,ffb7fc8ad0594248a49e210ff0217c2d,166.52,113.81,52.71,34.96,53.76,...,6,1,0,0,0,0.989652,0.087704,0.573115,1.452973,1.320526
16891,81,2018-05-04,F,65000.0,ffc60f10c2444740bc2049712bbffe17,19.92,1.37,18.55,0.00,1.37,...,5,1,0,0,0,0.003795,0.052254,0.000000,0.006313,0.000000
16892,62,2018-04-10,F,57000.0,ffc6c9fbe34b4578911dcdf6745b4c74,0.00,0.00,0.00,0.00,0.00,...,3,1,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000
16893,37,2017-03-19,M,70000.0,ffc77312ccda49fca19506f1cdf44923,33.77,20.93,12.84,0.00,20.93,...,5,0,1,0,0,0.064400,0.032839,0.000000,0.064400,0.000000
16894,57,2018-02-25,M,92000.0,ffc8a38e0972421785b00f80c92c8085,142.70,31.66,111.04,0.00,31.66,...,3,0,1,0,0,2.435385,0.157952,0.000000,2.435385,0.000000
16895,40,2017-02-16,M,32000.0,ffd53e5ba61d41378b66efc00d9f9682,89.44,14.30,75.14,0.00,14.30,...,5,0,1,0,0,0.386486,0.110663,0.000000,0.386486,0.000000
16896,65,2018-02-15,M,52000.0,ffd810f301ad42d6bfe98c4ba6ee4125,0.00,0.00,0.00,0.00,0.00,...,3,0,1,0,0,0.000000,0.000000,0.000000,0.000000,0.000000
16897,67,2018-07-21,F,95000.0,ffda4545e7084ff6aaf01304fb1c1fa6,43.76,24.08,19.68,24.08,0.00,...,5,1,0,0,0,0.076933,0.048834,0.142485,0.000000,0.000000
16898,87,2017-03-15,F,47000.0,ffdefcac307f4ca99ac1ebd51470f106,101.32,36.91,64.41,24.41,12.50,...,5,1,0,0,0,0.550896,0.099245,0.443818,0.961538,0.000000
16899,77,2017-08-22,M,75000.0,ffe5257abf8840b395e1ee6b29894637,63.49,15.22,48.27,0.00,15.22,...,6,0,1,0,0,0.132348,0.080316,0.000000,0.132348,0.000000
16900,67,2017-02-19,F,77000.0,ffeaa02452ef451082a0361c3ca62ef5,234.05,87.70,146.35,42.11,0.00,...,5,1,0,0,0,0.538037,0.264647,0.690328,0.000000,0.442621
16901,118,2017-10-27,None,NaN,ffecb1f8543f4bf7bade023de366d6bf,9.97,3.49,6.48,3.49,3.49,...,5,0,0,0,1,0.008410,0.021528,0.008410,0.020651,0.000000
16902,20,2018-03-15,M,44000.0,ffed75d3abc64b488982f50ed12878b5,0.00,0.00,0.00,0.00,0.00,...,2,0,1,0,0,0.000000,0.000000,0.000000,0.000000,0.000000
16903,118,2018-07-04,None,NaN,ffede3b700ac41d6a266fa1ba74b4f16,21.35,17.34,4.01,7.15,15.73,...,4,0,0,0,1,0.048845,0.011108,0.034878,0.074550,0.000000
16904,67,2017-06-15,M,80000.0,fff0f0aac6c547b9b263080f09a5586a,116.90,17.10,99.80,0.00,0.00,...,3,0,1,0,0,0.176289,0.161228,0.000000,0.000000,0.462162
16905,59,2017-08-31,F,93000.0,fff29fb549084123bd046dbc5ceb4faa,291.47,93.03,198.44,15.16,77.87,...,6,1,0,0,0,0.732520,0.336910,15.160000,0.613150,0.000000
16906,69,2015-09-20,F,83000.0,fff3ba4757bd42088c044ca26d73817a,580.98,435.29,145.69,20.98,0.00,...,6,1,0,0,0,11.764595,0.214566,20.980000,0.000000,11.197568
16907,71,2017-10-31,M,73000.0,fff7576017104bcc8677a8d63322b5e1,29.94,26.14,3.80,21.63,12.58,...,5,0,1,0,0,0.058742,0.014022,0.089751,0.046421,0.000000
16908,71,2018-02-18,M,56000.0,fff8957ea8b240a6b5e634b6ee8eafcf,12.15,8.09,4.06,8.09,0.00,...,3,0,1,0,0,0.031976,0.008769,0.037281,0.000000,0.000000
16909,34,2017-01-23,M,34000.0,fffad4f4828548d1b5583907f2e9906b,88.83,24.78,64.05,0.00,19.15,...,4,0,1,0,0,0.227339,0.105519,0.000000,0.517568,0.077123
16910,45,2016-11-25,F,62000.0,ffff82501cea40309d5fdd7edcca4a07,226.07,72.06,154.01,72.06,0.00,...,6,1,0,0,0,0.661101,0.253723,0.661101,0.000000,0.000000

In [13]:
users.loc[:,['spent_in_window_norm', 'spent_no_window_norm', 'spent_in_discount_norm', 'spent_in_bogo_norm', 'spent_in_informational_norm']] = users_sub.loc[:,['spent_in_window_norm', 'spent_no_window_norm', 'spent_in_discount_norm', 'spent_in_bogo_norm', 'spent_in_informational_norm']].fillna(0)

KeyError: "None of [Index(['spent_in_window_norm', 'spent_no_window_norm',\n       'spent_in_discount_norm', 'spent_in_bogo_norm',\n       'spent_in_informational_norm'],\n      dtype='object')] are in the [columns]"

In [ ]:
users.loc[users['spent_in_window_norm']==np.inf,['time_in_window', 'spent_in_window']]

In [ ]:

users.head()

In [ ]:
subset2 = ['gender', 'age', 'income', 'spent_in_window_norm', 'spent_no_window_norm', 'spent_in_discount_norm',
           'spent_in_bogo_norm', 'spent_in_informational_norm', 'view_ratio', 'completion_ratio',
           'view_and_complete_ratio']

In [ ]:
users_sub = users.loc[:,subset2]
users_sub.head()

With our new subset of the user matrix I would then like to try to create some statistics. First let's see if it makes sense.

In [ ]:
users_sub.describe()